body{background-image: url(../img/hatter.jpg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;}

h1{color: white;}

.cim{font-size: 2.5rem;
     font-weight: bold;
     margin-right: 20%;}

.tz{padding-top: 10px;}     

     