body{background-image: url(../img/hatter.jpg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;}

.cim{font-size: 2.5rem;
     font-weight: bold;
     margin-right: 20%;}

.tz{padding-top: 7px;}     

.ur{border: 2px solid white;
    margin-top: 7px;
    padding: 5px;
    border-radius: 10px;
    background: -webkit-linear-gradient(25deg ,rgba(255, 0, 0, 0.4),rgba(255, 166, 0, 0.4),rgba(255, 0, 0, 0.4));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    backdrop-filter: blur(10px);}  

.pl{text-align: left ;
    list-style: none;}

.kf{margin-right: -40px;} 

.cimek{text-align: center;}

.lol{padding: 15px;
    background: -webkit-linear-gradient(45deg ,rgba(255, 0, 0, 0.6),rgba(255, 166, 0, 0.6),rgba(255, 0, 0, 0.6));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    border-radius: 10px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);}

.kt{color: black;
    text-decoration: none;
    font-size: 16px;}
    
.kt:hover{text-decoration: underline;}   
    
.ktt{list-style: none;}    

.kezd p{text-align: justify;}

p{font-size: 17px;}

footer{background: -webkit-linear-gradient(45deg ,rgba(255, 0, 0, 0.5),rgba(255, 166, 0, 0.5),rgba(255, 0, 0, 0.5));
       background-size: 300% 300%;
       animation: color 12s ease-in-out infinite;
       padding: 15px;
       border-radius: 15px;
       padding-top: 25px;
       backdrop-filter: blur(10px);}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}       

.up{margin-right: 100px;}

.up2{margin-right: -100px;}

.lp{color: black;
    text-decoration: none;}
    
.lp:hover{text-decoration: underline;}

.ék{color: black;
    text-decoration: none;}

.ék:hover{text-decoration: underline;}    

.ko{background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;}

.zi{background: -webkit-linear-gradient(45deg ,rgba(255, 0, 0, 0.5),rgba(255, 166, 0, 0.5),rgba(255, 0, 0, 0.5));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    border-radius: 0px 0px 25px 25px;
    backdrop-filter: blur(10px);
    padding-left: 15px;}
    
.zia{background-color: rgba(255, 255, 255, 0.6);
     border-radius: 0px 0px 25px 25px;}    
    
#pills-content-tab{color: black;
                   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);}   
                 

              
               
